@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Obnova hesla</PageTitle>

<div class="ms-5 mt-3">
    <h1>Obnova hesla</h1>
    <p>
        E-mail pro obnovení hesla byl odeslán. Zkontrolujte si prosím svůj e-mail.
    </p>
</div>
