@page "/Account/InvalidPasswordReset"

<PageTitle>Neplatné obnovení hesla</PageTitle>

<div class="mt-3 m-5" style="max-width:570px">
    <h1>Neplatné obnovení hesla</h1>
    <p>
        Odkaz na obnovení hesla je neplatný.
    </p>
</div>
