@page "/Account/ResetPasswordConfirmation"
<PageTitle>Potvrzení obnovení hesla</PageTitle>

<div class="ms-5 mt-3">
    <h1>Potvrzení obnovení hesla</h1>
    <p>
        Vaše heslo bylo obnoveno. Prosím <a href="Account/Login">klikněte zde pro přihlášení</a>.
    </p>
</div>
