@page "/Account/ResendEmailConfirmationDone"

<PageTitle>Ověřovací e-mail</PageTitle>

<div class="ms-5 mt-3">
    <h1>Ověřovací e-mail</h1>
    <p>
        Ověřovací e-mail byl odeslán. Zkontrolujte si prosím svůj e-mail.
    </p>
</div>